blockquote {
  font-style: italic
}

table {
  white-space: nowrap;
}

pre {
  overflow-x: auto;
}
pre code {
  white-space: pre;
  word-wrap: normal;
}

blockquote {
    font-size: 1rem;
}